* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* unvisited link */
a:link {
    color: #500b65;
}

/* mouse over link */
a:hover {
    color: #87cefa;
}


.links {

    text-align: center;
    width: 100%;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 3vh;
    text-decoration: none;
}
