


h1 {
    text-align: center;
}

.video_container {
    grid-template-columns: 1fr;
    padding-left: 50px;
    padding-right: 50px;

}

.omtext_container {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 20px;
    padding-left: 50px;
    padding-right: 50px;

}

.omimage_container {

    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;



}

img {
    max-height: 30vw;
}

/*283*/
@media (max-width: 1170px) {
    .omimage_container {
    /*position: absolute;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    grid-gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;

    }

    .omimage_container .image1 {
    grid-column: 1/2;
    grid-row: 1/2;
    }
    .omimage_container .image2 {
    grid-column: 2/3;
    grid-row: 1/2;
    }
    .omimage_container .image3 {
    grid-column: 2/3;
    grid-row: 2/4;
    }
     .omimage_container .image4 {
    grid-column: 1/2;
    grid-row: 2/4;
    }

img {
        max-height: 30vw;
    }


@media (max-width: 900px) {

}











